<div class="container-fluid p-3">
  <div class="row">
    <div class="col-xl-12">
      <button class="btn btn-primary float-end" routerLink="/create">+ Create New</button>
    </div>
    <div class="col-xl-12 mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Contact</th>
            <th>Skill</th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userslist; index as i">                        
                        <td>{{i+1}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.contact}}</td>
                        <td>{{item.skill}}</td>
                        <td></td>
                    </tr> -->

          @for (item of userslist; track item._id) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ item.firstName }} {{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.skill }}</td>
            <td style="text-align: center;">
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success" [routerLink]="'/update/'+item._id">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser(item._id)">Delete</button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
